<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebBrowser.Data.Properties.Settings.HistoryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\db.mdf;Integrated Security=True;database=&lt;db&gt;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>